@font-face {
  font-family: "PartialSansKR-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #262b34;
}

header {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 52px;
}

.logo {
  font-weight: 400;
  font-size: 24px;
  opacity: 0.8;

  font-family: "PartialSansKR-Regular";
  color: white;
}

.game_name {
  font-weight: 400;
  font-size: 36px;

  font-family: "PartialSansKR-Regular";
  color: white;
}

.game_info {
  width: 48px;
  height: 48px;

  margin: 5px 0 0 10px;
}

main {
  font-family: "Pretendard-Regular";
}

.game_box {
  width: calc(90% - 10vh);
  height: 30vh;
  padding: 5vh;

  background-color: #1e2224;
  border-radius: 15px 15px 0 0;
  color: white;
}

.game_box > * {
  position: relative;
  bottom: 20px;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user_img {
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 6vh;
  font-weight: 500;

  position: relative;
}

.user_name {
  font-size: 2vh;
  margin-top: 5px;
  z-index: 3;
  margin-left: 20px;
}

.me {
  display: flex;
  justify-content: center;
  color: #c4ebe3;
}

.user_po1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.myturn_img {
  filter: drop-shadow(0 0 5px #fff);
}
.myturn {
  text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 5px #fff, 0 0 5px #fff;
}

.user_po2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user_po3 {
  position: relative;
  bottom: 10vh;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  height: 60vh;

  background: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(26, 188, 156, 1) 100%);

  display: flex;
  align-items: center;
  justify-content: center;

  outline: none;
  border-radius: 28px;

  font-family: "Pretendard-Regular";
  font-size: 18px;
  z-index: 3000;
}

.modal_content {
  width: 100%;
  height: 60vh;
  padding: 0 10%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgb(100, 108, 123, 0.8);
  border-radius: 28px;
}

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* 흐림 효과 */

  z-index: 2000; /* 화면 맨 위로 */
}

hr {
  width: 100%;
  background: #7887a2;
  height: 1px;
  border: 0;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 24px;
  font-weight: 700;
  gap: 15px;
  margin-bottom: 20px;
}

.bold {
  font-weight: 600;
}

.background {
  background-color: rgb(255, 255, 255, 0.3);
}

.img_game {
  width: 50px;
  height: 56px;
}
